<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Administradores</title>
    <link rel="stylesheet" href="css/usuario.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <header>
          <img id="logo" src="img/preguntadawLogo.png" alt="Logo preguntadaw">
          <h1>Usuarios</h1>
      </header>
    <nav>
        <ul>
            <li><a href="panelAdministrador.html">Panel</a></li>
            <li><a href="creacion_Juegos.html">Crear juego</a></li>
            <li><a href="gestion_Usuarios.html">Gestionar Usuarios</a></li>
            <li><a href="gestiontemas.html">Temas</a></li>
            <li><a href="gestion_Avatares.html">Avatares</a></li>
            <li><a href="inicio_sesion_admin.html">Cerrar sesion</a></li>
        </ul>
    </nav>
    <div class="container">
      <form action="" id="crearUsuario" method="POST">
        <h2>Crear Nuevo Administrador</h2>
        <p class="subtitle">
          Solo los super administradores pueden crear nuevos administradores
        </p>

        <div class="form-box">
          <label for="userName">Nombre de Usuario *</label>
          <input
            type="text"
            id="userName"
            name="userName"
            placeholder="Ej: admin_juan"
          />
        </div>

        <div class="form-box">
          <label for="email">Correo Electrónico *</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="admin@ejemplo.com"
          />
        </div>

        <div class="form-box">
          <label for="password">Contraseña *</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Mínimo 8 caracteres"
          />
        </div>

        <div class="form-box">
          <label for="password-confirm">Confirmar Contraseña *</label>
          <input
            type="password"
            id="password-confirm"
            name="password-confirm"
            placeholder="Repite la contraseña"/>
        </div>
        <button type="submit" class="save-btn">Guardar Modificacion</button>
      </form>
      <button type="submit" class="save-btn">Borrar acceso</button>
    </div>
    <footer>
        <p>Derechos reservados a la - @Escuela Virgen de Guadalupe</p>
    </footer>
  </body>
</html>
