<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/css/jc.css">
    <title>Gestión de avatares</title>
</head>
<body id="gestionAvatares">
    <header>
        <a href="panelAdministrador.html"><img id="logo" src="views/img/preguntadawLogo.png" alt="Logo preguntadaw"></a>
        <h1>Avatares</h1>
    </header>
   <main>
        <section>
            <article>
                <img src="img/imagenesAux/basura.png" alt="basura" class="imgBasura">
                <img src="img/avatares/avatar1.png" alt="avatar1" class="imgAvatar">
                <h4>Personaje 1</h4>
            </article>
            <article>
                <img src="img/imagenesAux/basura.png" alt="" class="imgBasura">
                <img src="img/avatares/avatar2.png" alt="avatar2" class="imgAvatar">
                <h4>Personaje 2</h4>
            </article>
            <article>
                <img src="img/imagenesAux/basura.png" alt="" class="imgBasura">
                <img src="img/avatares/avatar3.png" alt="avatar3" class="imgAvatar">
                <h4>Personaje 3</h4>
            </article>
            <article>
                <img src="img/imagenesAux/basura.png" alt="" class="imgBasura">
                <img src="img/avatares/avatar4.png" alt="avatar4" class="imgAvatar">
                <h4>Personaje 4</h4>
            </article>
             <article>
                <img src="img/imagenesAux/basura.png" alt="" class="imgBasura">
                <img src="img/avatares/avatar5.png" alt="avatar5" class="imgAvatar">
                <h4>Personaje 5</h4>
            </article>
        </section>

       <form action="">
            <h1>Crear avatar</h1>
            <label for="imagenSubidaAvatar">Sube imagen del avatar</label>
            <input type="file" id="imagenSubidaAvatar" name="imagenSubidaAvatar" required placeholder="imagen">
            <label for="nombreAvatar">Nombre del avatar: </label>
            <input type="text" id="nombreAvatar" name="nombreAvatar" required placeholder="nombre del Avatar">
            <input type="submit" value="crear">
        </form>

    </main>
    <footer>
        <p>Derechos reservados a la - @Escuela Virgen de Guadalupe</p>
    </footer>
</body>
</html>