/*FRANCISCO JAVIER MARTINEZ FERNADEZ*/
/* Titulos */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Permanent+Marker&display=swap');

/* Parrafos y titulos secundarios */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..400&display=swap');

/* Botones y formularios */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bitcount+Grid+Single:wght@100..900&family=News+Cycle:wght@400;700&family=Permanent+Marker&display=swap');

:root{
    --color-fondo: linear-gradient(to bottom right, #000000, #2F0B4A);
    --color-secundario: #2F0B4A;
    --color-boton: #7943A4;
}
/*Recalco si alguien de mi grupo esta apunto de leer mi codigo que la anidacion primero
pongo los estilos y luego ya los demas la mayoria esta en el layaout*/

body{
    width: 1512px; /*1512 es el 100%*/
    font-size: 16px; /* Base para em */
    background: var(--color-fondo);
    color: white;
    margin: 0 auto;
    /*Para que no se repita el degradado*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*Maquetar con grid*/
    display: grid;  
    /* Fuente de párrafos y texto general */
    font-family: 'Archivo Narrow', sans-serif;
    /*grid template de 4 filas y 1 columna*/
    grid-template-columns: 1512px 1512px 1512px 1512px;
    grid-template-rows: auto;
    grid-template-areas: 
        "Encabezado"
        "MenuNavegacion"
        "Principal"
        "PiePagina";
}
/*Layaout y sus estilos */
/* Header */
header {
    position: relative;
    grid-area: Encabezado;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(10, 8, 82);
}

header {
    h1 {
        position: absolute;
        top:45px;
        left:636.55px;
        /*los 1512-20(paddig) = 1492/2=746
        pero como el h1 ocupa 218.89 de ancho realmente
        para que quede centrado le resto la mitad 109.44
        operacionalmente 746-109.44=636.55px*/ 
        margin: 0;
        font-family: "Bitcount Grid Single";
        font-size: 2em;
    }
}
nav {
    grid-area: MenuNavegacion;
    ul{
        list-style: none;
        display: flex; /*Aqui uso un flex para la organizacion del 
        los elementos del nav
        */
        padding: 0;
        margin: 0;
        li {
            /*he decido usar 250px si yo no usase el flex-grow y flex-shrink
            solo me cabría 6 elementos li en el nav 250*6=1500px uno mas y me pasaria*/
            flex-basis: 250px; /*el flex basis es el width*/
            flex-grow: 1;
            flex-shrink: 1;
            a{
                font-family: 'News Cycle', sans-serif;
                background-color: rgb(10, 8, 82);
                text-decoration: none;
                text-align: center;
                color: white; 
                font-size: 1.5em;
                display: block;
                /*tenia problemas de como se veia el texto en los enlaces del nav al agrandar
                y busque como solucionarlo y vi que con el white-space nowrap puedo
                decirle que omita los saltos de linea y asi no se me lia*/
                white-space: nowrap;
                &:hover{ 
                    background-color: #3b5f77; /*El & es para animaciones o estilos como el nth:child*/
                    color: white;
                }
            }
        }
    }
}

/* Cuerpo */
main{
    grid-area: Principal;
}

main{
    h1{
        font-family: "Bitcount Grid Single";
        text-align: center;
    }
}
/* Pie de pagina */
footer{
    grid-area: PiePagina;
    background-color: #000000;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 2em; 
}

/*Estilos de la pagina que no es layaot*/
/* Imágenes */
#logo {
    width: 5.55%; /*83.92*100/1512=5,55*/
}

/* Tarjetas */
#tarjetas {
    display: grid;
    grid-template-columns: repeat(6, 226px);/* 226 porque 6*226=1356 + 5*30(gap)=1506px asi que caben
    esto sera el total pero usables seran 226-40(padding)=186px*/
    gap: 30px;
}

/* Contenedor de la Tarjeta: 226px de base
pero usable 226-40(padding)=186px*/
.contenedorEtiqueta{
    width: 186px;
    margin: 0; 
    padding: 20px;
    background-color: #2F0B4A;
    border-radius: 10px;
}

.contenedorEtiqueta {
    &:hover{
        background-color: #391a50;
    }
}

.encabezadoTarjeta h3{
    float: left;
    margin: 0;
    /*Por defecto el h3 ocupa de ancho un 48.33 lo vi con el f12 
    me sobra 48.33-226=177.67 para usar pero yo no quiero que ocupe todo
    asiq ue para el estado de juego le indico que tenga un ancho de 100px*/
}

/* Base de cálculo para elementos internos: 226px */
.estadoJuego {
    float: right;
    background-color: rgb(134, 193, 241);
    width: 100px; /*ancho que selecione teniendo encuneta el hs3*/
    height: 30px;
    text-align: center;
    border-radius: 10px;
    font-family: "Archivo Narrow", sans-serif;
    margin: 5px; 
    padding: 5px 0;
}

/* tengo 226px-40(padding)=186 usables para usar */
.contenedorTemas{
    clear: both;
    padding: 15px 0; 
    display: grid;
    /* 186-208(gap)=166/2=83px */
    grid-template-columns: 83px 83px;
    gap: 20px; 
}

.contenedorTemas>div{
    text-align: center;
    border-radius: 15px;
}

.contenedorTemas>div:nth-child(even){
    background-color: royalblue;
}
.contenedorTemas>div:nth-child(odd){
    background-color: rgb(240, 129, 221);
}

/*Estilo de ver datos */
/*Formulario*/
/* Etiquetas: #formulario label */
/* esto es del formulario de ver tu cuentra con el recuperar contraseña*/
#formulario {
    background-color: var(--color-secundario);
    /* 40px (arriba/abajo) | 50px (izquierda/derecha) */
    padding: 40px 50px; /* 40*100/1512=2.64% | 50*100/1512=3.31% */
    border-radius: 20px; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 350px; /* 350*100/1512=23.15% */
}
#formulario{
    label {
        display: block;
        margin-bottom: 5px; /* 5*100/350=1.43%*/
        font-weight:bold;
        font-size: 0.9em;
        font-family: "Archivo Narrow", sans-serif; 
    }
    /*el input total es 350px sale de 226px de la tarjeta + 40(padding de la tarjeta)=266 + 84(padding del formulario)=350px*/
    input{
        /*315px usables 350-35(padding)=315px*/
        width: 315px;/*315*100/350=90*/
        /* 12px (arriba/abajo) | 15px (izquierda/derecha) */
        padding: 12px 15px; /* 12*100/350=3.43% | 15*100/350=4.29% */
        margin-bottom: 25px; /* 25*100/350=7.14% */
        border-radius: 8px;
        color: white;
        font-size: 1.1em;
        background-color: rgba(0, 0, 0, 0.3); 
    }
    input[type="submit"]{
        /*a este le digo 100% porque por defeto el sumbit tiene 
        box-sizing border-box y asi uso todo el ancho del input*/
        width: 350px;/*350*100/350=100%*/
        background-color: var(--color-boton);
        color: white;
        font-family: 'News Cycle', sans-serif;
        font-weight: bold;
        &:hover{
            background-color: #5c2aa5;
        }
    }
    a{
        color: rgb(105, 105, 243);
        text-decoration: none;
        font-family: 'News Cycle', sans-serif;
        &:hover{
            color: red;
            text-decoration: underline;
        }
    }
}
/*informacion del p para el codigo que te llega al correto*/
#infoCodigo{
    text-align: center;
}