@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bitcount+Grid+Single:wght@100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

/* ===========================
   VARIABLES
=========================== */
:root{
    --color-secundario: #57277B;
    --color-tercero: #2F0B4A;
    --color-cuarto: #293478;
}

/* ===========================
   ESTILOS GENERALES
=========================== */
body {
    margin: 0 auto;
    width: 100%; 
    min-height: 100vh;
    background: linear-gradient(to bottom right, #000000, #2F0B4A);
    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    text-align: center;
    position: relative;
      /*Para que no se repita el degradado*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ===========================
   AVATARES
=========================== */

header img.logo-principal {
    width: 14.63%; 
    margin: 3.05% auto 1.22%; 
    display: block;
}

header h1{
    font-size: 2em; 
    font-weight: bold;
    margin-bottom: 2.44%; 
    font-family: "Bitcount Grid Single", sans-serif;
}

main.avatares {
    background-color: var(--color-tercero);
    width: 51.22%; 
    margin: 0 auto;
    padding: 4.27% 3.66%; 
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.6);
}

main.avatares h2 {
    font-size: 1.375em; 
    margin-bottom: 1.83%; 
}

#avatares img {
    width: 5.49%; 
    margin: 0 0.73%; 
}

input {
    width: 80%;
    height: 4.88%; 
    border: none;
    border-radius: 8px;
    background: #3c2453;
    padding: 1.22%; 
    color: #fff;
    margin-top: 1.22%; 
    font-size: 0.9375em; 
}

button {
    width: 70%;
    height: 5.49%; 
    margin-top: 2.44%; 
    background: #ff79c9;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    font-size: 1em; 
}

/* ===========================
   CLASIFICACIÓN
=========================== */

nav img {
    width: 4.27%; 
    margin: 1.22%; 
}

header img {
    width: 4.88%; 
}

main.clasificacion {
    margin: 0 auto;
    background-color: var(--color-tercero);
    padding: 2.44% 0; 
    border-radius: 10px;
    margin-top: 1.22%; 
    width: 75.61%; 
}

.top {
    font-size: 0.875em; 
    margin-bottom: 2.44%; 
}

.tarjetas {
    width: 54.87%; 
    margin: 1.22% auto; 
    padding: 1.46%; 
    border-radius: 10px;
    background-color: var(--color-secundario);
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 1em;
}

.tarjetas:last-child {
    border: 4px solid var(--color-cuarto);
}

.puesto {
    width: 4.88%; 
    font-size: 1.25em; 
    display: inline-block;
}

.nombre {
    width: 38.41%; 
    padding-left: 1.83%; 
    display: inline-block;
}

.puntos {
    font-size: 0.875em; 
}

/* Colores del top 3 */
.oro { background: #e4c686; color: #333; }
.plata { background: #cfd5e4; color: #333; }
.bronce { background: #d8b7a2; color: #333; }

/* ===========================
   FOOTER (ambas páginas)
=========================== */
footer {
    width: 100%;
    padding: 1.46% 0; 
    font-size: 0.875em; 
    color: #FFFFFF;
    margin-top: 1.83%; 
}


@media (max-width: 390px) {
    body {
        font-size: 17px; 
    }
    header {
        padding: 4.65%; 
    }
    main.avatares, main.clasificacion, .contenedor-principal {
        width: 80%; /* Se adapta al 80% del ancho del móvil */
        padding: 4%; 
    }
    #avatares img,
    nav img,
    header img.logo-principal {
        width: 6%; 
        height: auto;
    }
    input {
        width: 70%; 
    }
    button{
        width: 30%; 
    }
    .tarjetas, .publico-container, .descripcion-tema {
        width: 80%; 
        padding: 2%; 
    }
    .botonanadir {
        width: 80%;
        padding: 2% 4%;
    }
}
