@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&display=swap');

body {
    background: linear-gradient(to bottom right, #000000, #2F0B4A);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    width: 820px;
    margin: auto;
}

.container {
    background-color: white;
    max-width: 656px;
    margin: 30px auto;
    border-radius: 15px;
    padding: 20px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #57277B;
    margin-top: 0;
    font-family: "Permanent Marker";
}

h3 {
    color: #57277B;
    margin-top: 0;
    font-family: "Archivo Narrow";
}

.subtitle {
    color: #666;
    font-size: 0.9rem;
}

.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}
.amarillo{
    background-color: yellow;
}

.pregunta-container {
    text-align: center;
}

.timer {
    font-size: 32px; /*2rem*/
    font-weight: bold;
    color: #57277B;
    margin-bottom: 10px;
    font-family: "Permanent Marker";
    float: left;
}

.nombre-jugador {
    font-size: 19px;/*1.2rem*/
    color: #57277B;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Archivo Narrow";
    float: right;
}

.pregunta-section h2 {
    color: #57277B;
    margin-bottom: 20px;
    font-family: "Permanent Marker";
    clear: both;
}

.imagen-pregunta {
    margin: 20px 0;
}

.placeholder-imagen {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 60px 20px;
    color: #666;
    font-weight: bold;
    border: 2px dashed #ddd;
    font-family: "Archivo Narrow";
}

.respuestas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.respuesta {
    border-radius: 10px;
    padding: 15px;
    color: #57277B;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Archivo Narrow";
    height: 100px;
}

.respuesta:hover {
    filter: brightness(0.7); 
}



