@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&display=swap');

/*----------------------------------General--------------------------------------*/

body {
    background: linear-gradient(to bottom right, #000000, #2F0B4A);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    width: 820px;
    margin: auto;
}

.container {
    background-color: white;
    max-width: 656px;
    margin: 30px auto;
    border-radius: 15px;
    padding: 20px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #57277B;
    margin-top: 0;
    font-family: "Permanent Marker";
}

h3 {
    color: #57277B;
    margin-top: 0;
    font-family: "Archivo Narrow";
}

.subtitle {
    color: #666;
    font-size: 0.9rem;
}

.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}
.amarillo{
    background-color: yellow;
}

/*----------------------------------Gestion de Usuarios--------------------------------------*/

.form-box {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 2.2865853658536585365853658536585%; /*15*100/656*/
    margin: 2.2865853658536585365853658536585% 0;
    margin-left: auto;
    margin-right: auto;
}

.form-box {
    label {
        display: block;
        margin-bottom: 0.79872204472843450479233226837061%;/*5*100/626*/
        font-weight: bold;
        color: #57277B;
    }
    
    input{
        width: 97.444089456869009584664536741214%;/*610*100/626*/
        padding: 1.277955271565495207667731629393%; /*8*100/626*/
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: auto;
    }
}

.save-btn {
    background-color: #57277B;
    color: white;
    width: 100%;
    padding: 1.8292682926829268292682926829268%; /*12*100/656*/
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 3.048780487804878048780487804878% auto; /*20*100/656*/
    transition: 0.3s;
}

.save-btn:hover {
    background-color: #6a359c;
}

.admin-list {
    margin-top:3.048780487804878048780487804878%;/*20*100/656*/
}

.admin-box {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 2.2865853658536585365853658536585%; /*15*100/656*/
    margin: 2.2865853658536585365853658536585% 0;
    transition: 0.3s;
}

.admin-box:hover {
    background-color: #e9e9e9;
}

.admin-info h3 {
    margin-top: 0;
    margin-bottom: 1.5974440894568690095846645367412%; /*10*100/626*/
}

.admin-details {
    align-items: center;
    margin: 0.79872204472843450479233226837061% 0; /*5*100/626*/
    color: gray;
}

.admin-details {
    .material-icons{
        font-size: 1.125rem;
        margin-right: 1.277955271565495207667731629393%; /*8*100/626*/
        color: #57277B;
    }
}

/*-----------------------------------Creación de Juego-----------------------------------------*/
.form-box{
    #checkbox-publico {
        float: right;
        width: 3.1948881789137380191693290734824%; /*20*100/626*/
    }
}

.temas-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    gap: 2.3961661341853035143769968051118%; /*15*100/626*/ 
    width: 100%;
}

.tema-item{
    width: 100%;
    background-color: #57277B;
    color:white;
    border-radius: 10px;
    transition: transform 0.3s  ease;
    cursor: pointer; 
    line-height: 40px;
    font-size: 0.875rem;
    margin: auto;
    margin-bottom: 10px;
}

.tema-item:hover {
    transform: scale(1.05);
}

#cancel{
    background-color: rgb(169, 27, 27);
}

#cancel:hover{
    background-color: rgb(214, 49, 49);
}

.buttons-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

/* 
.color{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: transform 0.3s  ease;
    cursor: pointer;
}

.color:hover{
    transform: scale(1.05);
    border: 2px solid #2F0B4A;
}

.colors-box{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 10px;
} */